.whoWeAreSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 1rem;
  background-color: #f9f9f9;
  text-align: center;
}

.herocontent {
  display: flex;
  align-items: flex-start;  /* Changed from center to flex-start */
  justify-content: center;
  gap: 10rem;
  margin: 0 2rem;
}

.heroLeftContent {
  flex: 1;
  text-align: left;
  margin-right: 2rem;
  margin-top: 5rem;  
  align-self: flex-start; 
}


.herRightContent {
  flex: 1;
  text-align: right;
}

.heroImage {
  width: 49.1875rem;  
  height: 42rem;
  object-fit: cover;
}


.whoWeAreTitle {
  font-size: 4rem;
  font-weight: 600;
  color: #256193;
  margin-bottom: 1.2rem;
}

.whoWeAreTitle:nth-child(2) {
  color: black;
}


.whoWeAreText {
  width: 564px;
  height: auto  ;
  margin-top: 5rem;
  font-size: 1.08rem;
  color: #23405a;
  max-width: 700px;
  margin-bottom: 1.5rem;
}


.heroButton {
  background-color: #FDB940;
  color: #1F5377;
  border: none;
  padding: 0.75rem 1.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 12rem;
  height: 3.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}

.heroButton:nth-child(2) {
  margin-right: 0;
  background: white;
  border: 2px solid #1F5377;
}

.heroButton:hover {
  background-color: #e6a830;
}

@media (min-width: 641px) {
  .whoWeAreSection {
    padding: 3.5rem 2rem;
  }
  .whoWeAreTitle {
    font-size: 2.4rem;
  }
  .whoWeAreText {
    font-size: 1.15rem;
    max-width: 900px;
  }
}

@media (min-width: 1025px) {
  .whoWeAreSection {
    padding: 5rem 0;
  }
  .whoWeAreTitle {
    font-size: 2.8rem;
  }
  .whoWeAreText {
    font-size: 1.18rem;
    max-width: 1100px;
  }
}
